.form-group
  label(for="title") 주문자명
  input.form-control(type="text", name="title", placeholder="What's your question?", value=question.title)
.form-group
  label(for="local") 주문장소
  input.form-control(type="text", name="local", placeholder="What's your local?", value=question.local)
.form-group
  label(for="start") 시작시간
  input.form-control(type="text", name="start", placeholder="When start?", value=question.start)
.form-group
  label(for="end") 종료시간
  input.form-control(type="text", name="end", placeholder="When end?", value=question.end)
.form-group
  label(for="question") 상세설명
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="kind") 음식종류
  input.form-control(type="text", name="kind", placeholder="What kind?", value=question.kind)
.form-group  
  label(for='participate') 몇명이 먹을거니?
  select.form-control(name="participate")
    option 1
    option 2
    option 3
    option 4
    option 5
    option 6
    option 7
    option 8
    option 9
    option 10
    
.form-group  
  label(for='several') 음식 특징은?
  select.form-control(name="several")
    option 육(땅)
    option 해(바다)
    option 공(공중)

.form-group
  label(for="tags") 등록조직이름
  input.form-control(type="text", name="tags", placeholder="enroll company name", value=question.tags ? question.tags.join(" ") : "")

.form-group
  label(for='img') Image
  input.form-control(type="file", name="img")
    
.form-group
  .form-check.form-check-inline
    label.form-check-label
      input.form-check-input(type='radio', name='isfee' id="FREE")
      |  무료
  .form-check.form-check-inline
    label.form-check-label
      input.form-check-input(type='radio', name='isfee' id="NONE_FREE")
      |  유료
      
.form-group
  .input-group.fee
  label(for="fee")
  input.form-control(type="text", name="fee", placeholder="금액을 제시해주세요", value=question.fee)
      
    
script.
  $(function(){
    $('#FREE, #NONE_FREE').change(function(){
      if($('#FREE').is(":checked")){
        this.form.fee.disabled = true;
      }else if($('#NONE_FREE').is(":checked")){
        this.form.fee.disabled = false;
      }
    });
  });  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
